*{margin:0px;padding: 0px;}
a{
    text-decoration: none;}
ul{list-style: none;}
.ui-icon{
    background: url("../images/icons.png") no-repeat;
}
#ui-audioface{
    position: fixed;
    left: 0px;
    bottom: 20px;
    background: #000;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    width: 540px;
    height: 95px;
    padding:10px 0px;
}
#ui-audioface #ui-content{
    width:520px;
    height:95px;
    margin:0 5px;
}
#ui-audioface #ui-list{
    width: 520px;
    height:200px;
    /*margin: 0 5px;*/
    background: #000;
    position: absolute;
    top:-202px;
    left:0px;
}
#ui-audioface #ui-listfav{
    width: 520px;
    height:200px;
    /*margin: 0 5px;*/
    background: #000;
    position: absolute;
    top:-202px;
    left:530px;
}
#ui-audioface button.ui-becket{
    position: absolute;
    right: 0px;
    bottom: 0px;
    width:22px;
    height:100%;
    cursor: pointer;
    background-position:0px 0px;
}
#ui-audioface div.ui-score{
    position: absolute;
    left:543px;
    bottom:0px;
    height:100%;
    width:200px;
    background:#000;
}
#ui-audioface img.ui-disk{
    width:100px;
    height:100px;
    border-radius: 50px;
    border:1px solid #bbb;
    float:left;
}
#ui-audioface dl.ui-info{
    float: left;
    margin-left: 20px;
    font-size: 14px;
}
#ui-audioface dl.ui-info dt{
    color: white;
    line-height: 25px;
}
#ui-audioface dl.ui-info dd{
    color: #bbb;
    font-size: 12px;
    line-height: 20px;
}
#ui-audioface img.ui-play{
    animation: 10s linear 0s infinite rotate;
    -webkit-animation: 10s linear 0s infinite rotate;
    -moz-animation: 10s linear 0s infinite rotate;
    -ms-animation: 10s linear 0s infinite rotate;
}
@-webkit-keyframes rotate{
    from{-webkit-transform:rotate(0deg)}
    to{-webkit-transform:rotate(360deg)}
}
@-moz-keyframes rotate{
    from{-moz-transform:rotate(0deg)}
    to{-moz-transform:rotate(360deg)}
}
@keyframes rotate{ 
    from{transform:rotate(0deg)}
    to{transform:rotate(360deg)}
}
#ui-content ul.ui-tool{
    position:absolute;
    right: 22px;
    top:0px;
    height:28px;
}
#ui-content ul.ui-tool li{
    float:left;
    height:28px;
    text-align: center;
  line-height: 28px;
}
#ui-content ul.ui-tool li a.ui-list{
    background-position: -222px -97px;
    width:25px;
    padding-left: 22px;
    color:white;
    font-size: 11px;
    display:block;
}
#ui-content ul.ui-tool li a.ui-score{
    color:#bbb;
    display: block;
    font-size: 14px;
    width:35px;
}
#ui-content ul.ui-tool li a.ui-show{
    color:#0cc658;
}
#ui-content div.ui-opface{
    position: absolute;
    right:22px;
    bottom:20px;
    height:42px;
}
#ui-content div.ui-opface a{
    float:left;
    width:36px;
    height:28px;
    margin-top: 7px;
    margin-left: 3px;
}
#ui-content a.ui-prev{
    background-position: -69px 0;
}
#ui-content a.ui-prev:hover{
    background-position: -69px -32px;
}
#ui-audioface #ui-content a.ui-play{
    background-position: -105px 0;
    height:100%;
    width:42px;
    margin-left: 3px;
    margin-top: 0px;
}

#ui-audioface #ui-content a.ui-next{
    background-position: -150px 0;
}
#ui-audioface #ui-content a.ui-next:hover{
    background-position: -150px -32px;
}
#ui-audioface #ui-content a.ui-cycle{
    background-position: -219px 0px;
}
#ui-audioface #ui-content a.ui-cycle:hover{
    background-position: -219px -32px;
}
#ui-audioface #ui-content a.ui-volume-icon{
    background-position: -189px -3px;
    width:30px;margin-top: 10px;
    margin-left: 8px;
}
#ui-audioface #ui-content a.ui-volume-icon:hover{
    background-position: -189px -35px;
}
#ui-audioface #ui-content div.ui-opface span.ui-rate{
    float:left;
    background-position: -291px -11px;
    width:71px;
    height:11px;
    margin-top: 16px;
    margin-right: 20px;
    position: relative;
}
#ui-audioface #ui-content div.ui-opface span.ui-rate a{
    background-position: -360px 0;
    width:6px;
    height:11px;
    margin-top: 0px;
    margin-left: 0px;
    position: absolute;
    left:0px;
    top:0px;
}
#ui-audioface div#ui-list ul{
    width:100%;
    height:100%;
}
#ui-audioface div#ui-list ul li{
    width:100%;
    height:25px;
    font-size: 12px;
    line-height: 25px;
    cursor: pointer;
}
#ui-audioface div#ui-list ul li:hover{
    background: #888;
}
#ui-audioface div#ui-list ul li a{
    width:140px;
    color:#fff;
    float:left;
    margin-left: 20px;
}
#ui-audioface div#ui-listfav ul{
    width:100%;
    height:100%;
}
#ui-audioface div#ui-listfav ul li{
    width:100%;
    height:25px;
    font-size: 12px;
    line-height: 25px;
    cursor: pointer;
}
#ui-audioface div#ui-listfav ul li:hover{
    background: #888;
}
#ui-audioface div#ui-listfav ul li a{
    width:200px;
    color:#fff;
    float:left;
    margin-left: 20px;
}
#ui-content ul.ui-tool li a.ui-show-hide{
    color:#000;
}
#ui-audioface div#ui-list ul li.ui-curr a{
    color:#f00;
}
#ui-audioface div#ui-listfav ul li.ui-curr a{
    color:#f00;
}
#ui-audioface button.ui-becket-hide{
    background-position: -23px 0px;
}
#ui-audioface div.ui-score canvas{
    width:200px;
}
#ui-audioface #ui-content a.ui-pause{
    background-position: -291px -88px;
}